global
    log stdout format raw local0

resolvers docker_dns
    nameserver dns 127.0.0.11:53

defaults
    log     global
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:8090
    default_backend http_back

backend http_back
    balance roundrobin
    server web1 docker-web-server-1:8080 check resolvers docker_dns init-addr libc,none
    server web2 docker-web-server-2:8080 check resolvers docker_dns init-addr libc,none

frontend ssh_front
    mode tcp
    bind *:22
    default_backend ssh_back

backend ssh_back
    mode tcp
    balance roundrobin
    server web1 docker-web-server-1:22 check resolvers docker_dns init-addr libc,none
    server web2 docker-web-server-2:22 check resolvers docker_dns init-addr libc,none
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
