global
  log stdout format raw local0

defaults
  mode http
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend http_front
  mode http
  bind *:8090
  acl host_phpmyadmin path_beg /phpmyadmin
  use_backend phpmyadmin_back if host_phpmyadmin
  default_backend http_back

backend http_back
  mode http
  server web_server_1 web-server-1:8080 check
  server web_server_2 web-server-2:8080 check

backend phpmyadmin_back
  mode http
  cookie PMA_SESSION insert indirect nocache
  http-request set-path %[path,regsub(^/phpmyadmin,/,)]
  server pma phpmyadmin:80 check

frontend ssh_front
  bind *:22  
  mode tcp
  default_backend ssh_back

backend ssh_back
  mode tcp
  server ssh_server_1 web-server-1:22 check
  server ssh_server_2 web-server-2:22 check

listen stats
  mode http
  bind *:1936
  stats enable  
  stats uri /
  stats refresh 5s
